---
- name: Create Namespace
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ namespace }}"
        labels:
          pod-security.kubernetes.io/warn: restricted

- name: Create Temporary Directory
  tempfile:
    state: directory
  register: tempfile

- name: Create Network Policy
  template:
    src: netpol.yml.j2
    dest: "{{ tempfile.path }}/netpol.yml"

- name: Apply Network Policy
  kubernetes.core.k8s:
    apply: yes
    src: "{{ tempfile.path }}/netpol.yml"

- name: Create Temporary File for Deployment
  template:
    src: deploy.yml.j2
    dest: "{{ tempfile.path }}/k8s.yml"

- name: Create Build Token Secret
  no_log: yes
  kubernetes.core.k8s:
    apply: yes
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: gh-actions-token
        namespace: "{{ namespace }}"
        labels:
          agent: github-actions
      type: Opaque
      data:
        TOKEN: "{{ token | b64encode }}"

- name: Create Healthcheck Token
  no_log: yes
  kubernetes.core.k8s:
    apply: yes
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: gh-healthcheck-token
        namespace: "{{ namespace }}"
        labels:
          agent: github-actions
      type: Opaque
      data:
        TOKEN: "{{ healthcheck_token | b64encode }}"

- name: Deploy Agent
  kubernetes.core.k8s:
    apply: yes
    src: "{{ tempfile.path }}/k8s.yml"

- name: Wait for Deployment to be Ready
  kubernetes.core.k8s_info:
    kind: StatefulSet
    name: "{{ stateful_set_name }}"
    namespace: "{{ namespace }}"
  register: deployment_info
  until: deployment_info.resources[0].status.availableReplicas == deployment_info.resources[0].status.replicas
  retries: 60
  delay: 10
