---
- name: Create Namespace
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ agent_namespace }}"

- name: Apply Network Policy
  when: agent_can_ssh | default(false)
  kubernetes.core.k8s:
    definition:
      apiVersion: cilium.io/v2
      kind: CiliumNetworkPolicy
      metadata:
        name: allow-agent-ssh
        namespace: "{{ agent_namespace }}"
      spec:
        endpointSelector:
          matchExpressions:
            - key: "io.kubernetes.pod.namespace"
              operator: "In"
              values:
                - "{{ agent_namespace }}"
        egress:
          - toCIDR:
              - 10.3.0.0/16 # Game Cloud Nodes
              - 10.7.0.0/16 # Build Cloud Nodes
              - 10.11.0.0/16 # Tools Cloud Nodes
              - 10.15.0.0/16 # Data Cloud Nodes
              - 10.16.0.0/14 # NonProd Servers
              - 10.23.0.0/16 # NonProd Cloud Nodes
              - 10.25.128.0/17 # Proxy Cloud Nodes
              - 10.32.0.0/16 # Cloud Desktops
            toPorts:
              - port: "22"
                protocol: TCP

- name: Create Build Token Secret
  no_log: true
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: gh-actions-token
        namespace: "{{ agent_namespace }}"
        labels:
          agent: github-actions
      type: Opaque
      data:
        TOKEN: "{{ agent_token | b64encode }}"

- name: Create Healthcheck Token
  no_log: true
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: gh-healthcheck-token
        namespace: "{{ agent_namespace }}"
        labels:
          agent: github-actions
      type: Opaque
      data:
        TOKEN: "{{ agent_healthcheck_token | b64encode }}"

- name: Create SSH Keys
  when: agent_can_ssh | default(false)
  no_log: true
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: gh-actions-ssh-keys
        namespace: "{{ agent_namespace }}"
        labels:
          agent: github-actions
      type: Opaque
      data:
        id_ed25519: "{{ ssh.ansible.key | b64encode }}"
        id_ed25519.pub: "{{ ssh.ansible.cert | b64encode }}"

- name: Deploy Agent
  kubernetes.core.k8s:
    namespace: "{{ agent_namespace }}"
    definition: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: {{ agent_stateful_set_name }}
        labels:
          app: {{ agent_stateful_set_name }}
      spec:
        serviceName: {{ agent_stateful_set_name }}
        replicas: {{ agent_replicas | default(1) | int }}
        selector:
          matchLabels:
            app: {{ agent_stateful_set_name }}
        updateStrategy:
          type: RollingUpdate
        template:
          metadata:
            labels:
              app: {{ agent_stateful_set_name }}
          spec:
            nodeSelector: 
              {{ agent_node_selectors | to_nice_yaml(indent=8) }}
            affinity:
              podAntiAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  - labelSelector:
                      matchExpressions:
                        - key: app
                          operator: In
                          values:
                            - {{ agent_stateful_set_name }}
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: DoNotSchedule
            containers:
              - name: agent
                readOnlyRootFilesystem: true
                image: "coffee206/github-actions:{{ agent_tag }}"
                imagePullPolicy: Always
                resources:
                  limits:
                    cpu: "{{ agent_cpu_limits | default('500m') }}"
                    memory: "{{ agent_mem_limits | default('512Mi') }}"
                  requests:
                    cpu: "{{ agent_cpu_requests | default('100m') }}"
                    memory: "{{ agent_mem_requests | default('256Mi') }}"
                volumeMounts: 
                  {{ agent_volume_mounts | to_nice_yaml(indent=12) }}
                env:
                  - name: HTTP_PROXY
                    value: "http://{{ internet_proxy }}"
                  - name: HTTPS_PROXY
                    value: "http://{{ internet_proxy }}"
                  - name: NO_PROXY
                    value: "{{ no_proxy }}"
                  - name: FTP_PROXY
                    value: "ftp://{{ internet_proxy }}"
                  - name: PROXY
                    value: "http://{{ internet_proxy }}"
                  - name: TOKEN
                    valueFrom:
                      secretKeyRef:
                        name: gh-actions-token
                        key: TOKEN
                  - name: HEALTHCHECK_TOKEN
                    valueFrom:
                      secretKeyRef:
                        name: gh-healthcheck-token
                        key: TOKEN
                volumes: 
                  {{ agent_volumes | to_nice_yaml(indent=12) }}
                readinessProbe:
                  exec:
                    command:
                      - /usr/mware/agent/probe.sh
                      - readiness
                  initialDelaySeconds: 15
                  periodSeconds: 30
                  timeoutSeconds: 20
                  successThreshold: 1
                  failureThreshold: 3
                livenessProbe:
                  exec:
                    command:
                      - /usr/mware/agent/probe.sh
                      - liveness
                  initialDelaySeconds: 15
                  periodSeconds: 30
                  timeoutSeconds: 20
                  successThreshold: 1
                  failureThreshold: 3
                startupProbe:
                  exec:
                    command:
                      - /usr/mware/agent/probe.sh
                      - startup
                  initialDelaySeconds: 30
                  periodSeconds: 15
                  timeoutSeconds: 15
                  successThreshold: 1
                  failureThreshold: 10

- name: Wait for Deployment to be Ready
  kubernetes.core.k8s_info:
    kind: StatefulSet
    name: "{{ agent_stateful_set_name }}"
    namespace: "{{ agent_namespace }}"
  register: agent_deployment_info
  until: agent_deployment_info.resources[0].status.availableReplicas == agent_deployment_info.resources[0].status.replicas
  retries: 60
  delay: 10
