---
# TODO: move to cluster creation
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: default-allow-dns
  namespace: {{ namespace }}
spec:
  types:
    - Egress
  egress:
    - action: Allow
      protocol: UDP
      destination:
        ports:
          - 53
    - action: Allow
      protocol: TCP
      destination:
        ports:
          - 53
    - action: Allow
      protocol: UDP
      destination:
        selector: k8s-app == 'kube-dns'
    - action: Allow
      protocol: TCP
      destination:
        selector: k8s-app == 'kube-dns'
---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: agent-allow
  namespace: {{ namespace }}
spec:
  selector: agent == 'github-actions'
  types:
    - Ingress
    - Egress
  ingress:
  egress:
    - action: Allow
      protocol: TCP
      destination:
        ports:
          - 3128
        nets:
          - {{ network.proxy | split(':')[0] | first }}/32