apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ agent_stateful_set_name }}
  labels:
    app: {{ agent_stateful_set_name }}
spec:
  serviceName: {{ agent_stateful_set_name }}
  replicas: {{ agent_replicas | default(1) }}
  selector:
    matchLabels:
      app: {{ agent_stateful_set_name }}
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 75%
  template:
    metadata:
      labels:
        app: {{ agent_stateful_set_name }}
    spec:
      nodeSelector:
        kubernetes.io/arch: {{ agent_arch }}
{% for key, value in agent_node_selectors.items() %}
        {{ key }}: {{ value }}
{% endfor %}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - {{ agent_stateful_set_name }}
              topologyKey: kubernetes.io/hostname
      volumes:
        - name: workdir
          emptyDir: {}
        - name: tempdir
          emptyDir: {}
{% for volume in agent_volumes %}
        - {{ volume | to_json }}
{% endfor %}
      containers:
        - name: agent
          image: "coffee206/github-actions:{{ agent_tag }}"
          imagePullPolicy: Always
          resources:
            limits:
              cpu: "{{ agent_cpu_limits | default('500m') }}"
              memory: "{{ agent_mem_limits | default('512Mi') }}"
            requests:
              cpu: "{{ agent_cpu_requests | default('100m') }}"
              memory: "{{ agent_mem_requests | default('256Mi') }}"
          env:
            - name: HTTP_PROXY
              value: "http://{{ internet_proxy }}"
            - name: HTTPS_PROXY
              value: "http://{{ internet_proxy }}"
            - name: NO_PROXY
              value: "{{ no_proxy }}"
            - name: FTP_PROXY
              value: "ftp://{{ internet_proxy }}"
            - name: PROXY
              value: "http://{{ internet_proxy }}"
            - name: GH_ACTIONS_LABELS
              value: "{{ agent_labels }}"
            - name: GH_ACTIONS_URL
              value: "{{ agent_url | default('https://github.com/espresso-software') }}"
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: gh-actions-token
                  key: TOKEN
            - name: GH_ACTIONS_HC_TOKEN
              valueFrom:
                secretKeyRef:
                  name: gh-healthcheck-token
                  key: TOKEN
          volumeMounts:
            - name: workdir
              mountPath: /usr/mware/agent/_work
            - name: tempdir
              mountPath: /tmp
{% for volume_mount in agent_volume_mounts %}
            - {{ volume_mount | to_json }}
{% endfor %}
          readinessProbe:
            exec:
              command:
                - /usr/mware/agent/probe.sh
            initialDelaySeconds: 15
            periodSeconds: 300
            timeoutSeconds: 150
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            exec:
              command:
                - /usr/mware/agent/probe.sh
            initialDelaySeconds: 15
            periodSeconds: 300
            timeoutSeconds: 150
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            exec:
              command:
                - /usr/mware/agent/probe.sh
            initialDelaySeconds: 30
            periodSeconds: 300
            timeoutSeconds: 150
            successThreshold: 1
            failureThreshold: 10